MODE=PROD
LOG_LEVEL=INFO

MESSAGE_BUS_URL=amqp://guest:guest@localhost:5672
MESSAGE_BUS_EXCHANGE=health
MESSAGE_BUS_ROUTINGKEY=health.ping

HTTP_LISTEN_ADDR=:9100
MDNS_SERVICE_NAME=_minilab-agent._tcp
